@font-face {
	font-family: 'Proxima Nova';
	src: url(../../assets/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.eot) format('embedded-opentype'),
	url(../../assets/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.eot) format('embedded-opentype'),
	url(../../assets/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.woff) format('woff'),
	url(../../assets/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.ttf) format('truetype'),
	url(../../assets/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Alt%20Regular-webfont.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}